@charset "utf-8";


/*메인 페이지 CSS - main.css */

/*파일머징(합치기)*/
@import url(reset.css);
@import url(core.css);
@import url(media.css);



/*폰트*/
@font-face {

    font-family: monr;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');

}

@font-face {

    font-family: mont;
    src: url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Thin.woff') format('woff');

}

@font-face {

    font-family: mv;
    src: url('../fonts/mvboli/mvboli.ttf') format('truetype'),
        url('../fonts/mvboli/mvboli.woff') format('woff');

}

/*커서모양바꾸기*/
#cursor {
    position: absolute;
    z-index: 99999999;
    display: block;
    border-radius: 50%;
    background: #a8894c;
    pointer-events: none;
    transition: all .3s;
}

.cursor {
    width: 10px;
    height: 10px;
}

.curfill {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .3;
    width: 40px;
    height: 40px;
    transition: all .3s;
}

/*메뉴창*********************************/
.mwrap {
    width: 100%;
    height: calc(100% - 155px);
    z-index: 9999;
    position: fixed;
    right: 0;
    top: -100%;
    background-color: #E2E1DC;
    transition: all .58s ease-in-out;
}

.down {
    top: 155px;
    transition: all .58s ease-in-out;
}

.mwrap > nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mwrap > nav > ul {
    width: 100%;
    height: 100%;
    /*    outline: 1px dashed blue;  */
}

.mwrap > nav > ul > li {
    /*    outline: 1px dashed red;*/
    height: 16.66%;
    font-size: 3vw;
    text-align: center;
    font-family: mv;
}

.mwrap > nav > ul > li > a {
    position: relative;
    display: inline-block;
    width: 15%;
    /*outline: 1px dashed red;*/
    line-height: 2;
    color: rgba(51, 51, 51, 0.54);
}

.mtext {
    margin-left: 0;
    transition: all .3s ease-in;
}

.mwrap > nav > ul > li > a > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 0;
    line-height: 16.66%;
    height: 8px;
    background-color: #333;
    /*    outline: 1px dashed blue;*/
    transition: all .3s ease-in;
}

.mwrap > nav > ul > li > a:hover {
    color: #333;
}

.mwrap > nav > ul > li > a:hover > span {
    width: 2vw;
    transition: all .3s ease-in;
}

.mwrap > nav > ul > li > a:hover > .mtext {
    margin-left: 20%;
}


/*예약모달창****************************/
.res_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    /*    outline: 1px dashed red;*/
    z-index: 99999;
    top: 0;
    right: 0;
    background-color: rgba(78, 78, 78, 0.75);
    display: none;
}





/*모달닫기버튼******/
.modal_cbtn {
    position: relative;
    top: 1vw;
    right: -12vw;
    margin: auto;
    width: 2vw;
    margin-top: 200px;
    cursor: pointer;
}

.inner {
    width: inherit;
    text-align: center;
    
}

label {
    font-size: .8em;
    line-height: 4em;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
}

.inner:before,
.inner:after {
    position: absolute;
    content: '';
    height: 2px;
    width: inherit;
    background: #E2E1DC;
    left: 0;
    transition: all .3s ease-in;
}

.inner:before {
    top: 50%;
    transform: rotate(45deg);
}

.inner:after {
    bottom: 50%;
    transform: rotate(-45deg);
}

.modal_cbtn:hover label {
    opacity: 1;
}

.modal_cbtn:hover .inner:before,
.modal_cbtn:hover .inner:after {
    transform: rotate(0);
}

.modal_cbtn:hover .inner:before {
    top: 0;
}

.modal_cbtn:hover .inner:after {
    bottom: 0;
}





/*예약박스*/
.res_box {
    position: absolute;
    /*예약버튼의 부모*/
    /*    outline: 1px dashed blue;*/
    height: 50%;
    width: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #E2E1DC;

    padding: 5% 3% 0 3%;
}

.res_box h6 {
    font-size: 1.5vw;
    margin-bottom: 2vw;
    font-family: mont;
    letter-spacing: 3px;
}

/*예약날짜*/
.resDate {
    /*    outline: 1px dashed blue;*/
    line-height: 2;
    margin-bottom: 1vw;
    cursor: pointer;
}

.date {
    width: 100%;
    height: 40px;
    padding-left: 5%;
    line-height: 40px;
    background-color: #fff;
    color: #777777;
    position: relative;
}

/*달력아이콘*/
.date .calendarIcon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

/*인원수*/
.resPeNum {
    width: 100%;
    /*    outline: 1px dashed blue;*/
    display: flex;
    justify-content: space-between;
}

.resPeNum > li {
    width: 90%;
    text-align: left;
    line-height: 2;
}

.resPeNum > li:last-child {
    margin-right: -5%;
}

/*성인, 어린이 공통박스*/
.resPbox {
    background-color: #fff;
    width: 90%;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    color: #777777;
}

/*업다운아이콘*/
.updown {
    /*    outline: 1px dashed red;*/
    width: 20%;
    float: right;
    height: 100%;
}

.updown > li {
    height: 50%;
}

.updown > li > a {
    display: block;
    text-align: center;
    line-height: 50%;
}

/*예약하기버튼*/
.resbtn {
    position: relative;
    top: 5vw;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    background-color: #333;
    text-align: center;

}

.resbtn a {
    color: #fff;
}



















/*각 컨텐츠별 공통*/
.sec {
    margin-bottom: 15vw;
}



/*전체랩*/
.wrap {
    /*    outline: 1px dashed blue;*/
    width: 90%;
    margin: 0 auto;
}

/*헤더영역*****************/
header {
    position: fixed;
    top: 0;
    width: 90%;
    height: 155px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #E2E1DC;
    margin: 0 auto;
}

/*로고*/
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*햄버거메뉴아이콘*/
.ham {
    overflow: hidden;
    width: 24px;
    height: 17px;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ham span {
    position: absolute;
    right: 0;
    display: block;
    width: 100%;
    height: 1px;
    -webkit-transform-origin: center center auto;
    transform-origin: center center auto;
    -webkit-transition: all .4s;
    transition: all .4s
}

.ham span:before {
    right: calc(100% + 10px)
}

.ham span:after,
.ham span:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    top: 0;
    background: gray;
}

.ham span:after {
    right: 0
}

.ham span:first-child {
    top: 0
}

.ham span:nth-child(2) {
    top: 8px
}

.ham span:nth-child(3) {
    bottom: 0
}

.ham:hover:not(.toggle) span:after,
.ham:hover:not(.toggle) span:before {
    -webkit-animation: ani .5s;
    animation: ani .5s
}

.ham:hover:not(.toggle) span:nth-child(2):before {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.ham:hover:not(.toggle) span:nth-child(3):before {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}


/*닫기버튼*/
.toggle span:first-child {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg)
}

.toggle span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg)
}

.toggle span:nth-child(2) {
    opacity: 0 !important
}

.toggle:hover span:before {
    -webkit-animation: ani .5s;
    animation: ani .5s;
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.toggle:hover span:after {
    -webkit-animation: ani .5s;
    animation: ani .5s
}


@-webkit-keyframes ani {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    to {
        -webkit-transform: translate(calc(100% + 10px));
        transform: translate(calc(100% + 10px))
    }
}

@keyframes ani {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    to {
        -webkit-transform: translate(calc(100% + 10px));
        transform: translate(calc(100% + 10px))
    }
}


/*예약버튼*/
.rbtn1 {
    position: relative;
    overflow: hidden;
    width: 24px;
    height: 17px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.rbtn2 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.line1 {
    position: absolute;
    top: 8px;
    left: 0;
    width: 23px;
    height: 23px;
    border: 1px solid gray;
    border-radius: 50%;
}

.line2 {
    top: 0;
    left: 6px;
    width: 11px;
    height: 1px;
}

.line2:before {
    display: block;
    width: 1px;
    height: 8px;
    content: "";
    top: 1;
    left: 5px;
}

.line2,
.line2:before {
    position: absolute;
    background: gray;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.rbtn1:hover .line2 {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0)
}

.rbtn1:hover .line2:before {
    height: 5px;
}


/*배너영역*********************/
.ban {
    /*    outline: 1px dashed blue;*/
    width: 100%;
    height: 40vw;
    overflow: hidden;
    position: relative;
    margin-top: 155px;
}

/*배너글씨박스*/
.ban_tit {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    color: #fff;
    text-align: center;
}

.ban_tit h2 {
    font-family: mv;
    font-size: 4vw;
    letter-spacing: 5px;
}

.ban_tit span {
    display: block;
    font-family: mont;
    line-height: 2;
    font-size: 1vw;
    letter-spacing: 2px;
}

.slide {
    position: relative;
    /*    outline: 3px solid red;*/
    left: 0;
    width: 500%;
    height: 100%;
    display: flex;

}

.slide li {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 100%;

}

.slide li.ba1 {
    background-image: url(../images/ban01.jpg);
}

.slide li.ba2 {
    background-image: url(../images/ban02.jpg);

}

.slide li.ba3 {
    background-image: url(../images/ban03.jpg);

}

.slide li.ba4 {
    background-image: url(../images/ban04.jpg);

}

.slide li.ba5 {
    background-image: url(../images/ban05.jpg);

}

/*배너컨트롤박스*/
.control {
    position: absolute;
    z-index: 1;
    right: 1vw;
    bottom: 1vw;
    /*    outline: 1px dashed blue;*/
    min-width: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*이동버튼*/

.bbtn > a:first-child {
    margin-right: 40px;
}

/*페이지넘버*/
.number {
    color: #fff;
    font-size: .9vw;
    margin-right: 1vw;
}

.number > span {
    font-family: 'monr';
    letter-spacing: 5px;
}

/*타이틀들 공통*/
.Smalltitle {
    color: #A8894C;
    font-weight: 500;
    font-size: 1vw;
    letter-spacing: 7px;
}

.Bigtitle {
    font-family: mv;
    font-size: 2vw;
    letter-spacing: 5px;
    margin-bottom: 2vw;
}

/*vale영역*****************************************/
#value {
    bottom: -10vw;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.value_wrap {
    position: relative;
    width: 100%;
    height: 30vw;

}

.value_img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    height: 30vw;
    /*    outline: 1px dashed blue;*/
    background: url(../images/Value_img.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

/*텍스트박스*/
.vale_txt {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 1vw;
    z-index: 1;
}

.vale_txt > .ptxt1 {
    width: 49%;
    font-size: 1vw;
    line-height: 2;
    letter-spacing: 3px;
}

.vale_txt > .ptxt2 {
    width: 52%;
    font-size: 1vw;
    line-height: 2;
    letter-spacing: 3px;
    font-weight: 100;
}

/*메뉴영역****************************************/
.menu_wrap {
    width: 100%;
}

.menu_txt {
    text-align: right;
    margin-bottom: 10vw;
    /*스크롤액션셋팅*/
    position: relative;
    bottom: -10vw;
    opacity: 0;
    transition: all 1s ease-in-out;
}

/*메뉴박스*/
.menu_box {
    width: 100%;
    height: 30vw;
    /*    outline: 1px dashed red;*/
    /*스크롤액션셋팅*/
    position: relative;
    bottom: -10vw;
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: 1s;
}

.menu_box > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_box > ul > li {
    width: 24%;
    /*    outline: 1px dashed blue;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu_box > ul > li:nth-child(1) {
    background-image: url(../images/menu01.jpg);
}

.menu_box > ul > li:nth-child(2) {
    background-image: url(../images/menu02.jpg);
}

.menu_box > ul > li:nth-child(3) {
    background-image: url(../images/menu03.jpg);
}

.menu_box > ul > li:nth-child(4) {
    background-image: url(../images/menu04.jpg);
}

.menu_box figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-family: mv;
    font-weight: bold;
}

.menu_box figure figcaption {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid #fff;
    border-width: 2px 2px 0;
    border-radius: 5px;
}

.menu_box figure .heading {
    overflow: hidden;
    transform: translateY(50%);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu_box figure h5 {
    display: table;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
    text-transform: uppercase;
    font-size: 2vw;
    color: #fff;
    letter-spacing: 2px;
}

.menu_box figure h5::before,
.menu_box figure h5::after {
    position: absolute;
    display: block;
    width: 500%;
    height: 2px;
    content: '';
    background: #fff;
    top: 46%;
    border-radius: 10px;
}

.menu_box figure h5::before {
    left: -500%
}

.menu_box figure h5::after {
    right: -500%;
}

.menu_box_txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    margin: 0;
    opacity: 0;
    font-size: 1.3vw;
    line-height: 1.8;
    font-family: mont;
    font-weight: 100;

}

.menu_box_txt p:nth-child(3) {
    margin-top: 1vw;
}



.menu_box li:hover figcaption,
.menu_box .menu_hover figcaption {
    top: 10%;
    bottom: 10%;
}


.menu_box li:hover .menu_box_txt,
.menu_box .menu_hover .menu_box_txt {
    opacity: 1;
    transition-delay: 0.35s;
}

.menu_box figure * {
    transition: all 0.45s ease-in-out;
}



/*쉐프영역*****************************************/
.chef_wrap {
    width: 100%;
}

.chef_txt {
    text-align: left;
    margin-bottom: 10vw;
    /*스크롤액션 셋팅*/
    position: relative;
    bottom: -10vw;
    opacity: 0;
    transition: all 1s ease-in-out;
}

/*공통박스*/
.chef_box {
    width: 50%;
    height: 100%;
    /*    outline: 1px dashed blue;*/
    margin: 0 auto;
}

.chef_box > ul {
    width: 100%;
    height: 100%;
    display: flex;
}

.chef_box > ul > li {
    width: 50%;
    height: 28vw;
    /*    outline: 1px dashed red;*/
}



/*쉐프소개*/
.chef_info {
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: monr;
}

.chef_info h4 {
    font-family: mv;
    font-size: 2vw;
    color: #A8894C;
    font-weight: 100;
    letter-spacing: 3px;
}

.chef_info > span {
    display: block;

    line-height: 1.6;
    font-size: 1vw;
}

.chef_info > ol {
    margin-top: 1vw;
    font-size: .8vw;
}

.chef_info > ol > li {
    margin-bottom: .8vw;
}

.chef_info > ol > li > span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #A8894C;
    display: inline-block;
    margin-right: 10px;

}

/*첫번째 셰프*/
.chef1 {
    margin-bottom: 15vw;
    /*스크롤액션 셋팅*/
    position: relative;
    bottom: -10vw;
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: 1s;
}

.chef1 > ul > li:nth-child(1) {
    background: url(../images/chef01.jpg)no-repeat;
    background-size: cover;
}

/*두번째 셰프*/
.chef2 {
    /*스크롤액션 셋팅*/
    position: relative;
    bottom: -10vw;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.chef2 > ul > li:nth-child(2) {
    background: url(../images/chef02.jpg)no-repeat;
    background-size: cover;
}


/*룸영역**********************************************/
.room_wrap {
    width: 100%;

}

.room_txt {
    text-align: right;
    margin-bottom: 10vw;
    /*스크롤액션 셋팅*/
    position: relative;
    bottom: -10vw;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.roomlist {
    width: 100%;
    /*    outline: 1px dashed blue;*/
    /*스크롤액션 셋팅*/
    position: relative;
    bottom: -10vw;
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: 1s;
}

.roomlist > ul {
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: space-between;
}

.roomlist > ul > li {
    line-height: 2;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.roomlist > ul > li > a {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: montr;
    font-size: 1vw;
    width: 22vw;
    left: 50%;
    z-index: 99;
}

.roomlist > ul > li b {
    display: block;
    font-family: mv;
    font-weight: 100;
}

.hall {
    font-size: 3vw;
}

.roomlist > ul > li:nth-child(1) {
    background-image: url(../images/room01_bg.jpg);
    width: 15%;
}

.roomlist > ul > li:nth-child(2) {
    background-image: url(../images/room02_bg.jpg);
    width: 15%;
}

.roomlist > ul > li:nth-child(3) {
    width: 53%;
}

.roomlist > ul > li:nth-child(4) {
    background-image: url(../images/room04_bg.jpg);
    width: 15%;
}

/*홀박스*/
.hall_box {
    width: 100%;
    height: 100%;
    position: relative;
}

.hall_box > div {
    position: absolute;
    width: 100%;
    height: 30vw;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

.hall_box > div img {
    width: 100%;
    height: 100%;
}

.bn:nth-child(1) {
    background-image: url(../images/room03_01.jpg);
}

.bn:nth-child(2) {
    background-image: url(../images/room03_02.jpg);
}

.bn:nth-child(3) {
    background-image: url(../images/room03_03.jpg);
}

.bn:nth-child(4) {
    background-image: url(../images/room03_04.jpg);
}

.bn:nth-child(5) {
    background-image: url(../images/room03_05.jpg);
}

.bn:nth-child(6) {
    background-image: url(../images/room03_06.jpg);
}


.main-bn {
    width: 100%;
    height: 30vw;
    position: relative;
}


.main-bn > .slider > .slides > .bn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

.main-bn > .slider > .slides > .bn.active {
    opacity: 1;
    visibility: visible;
}

/* 슬라이더 페이지 버튼 */
.main-bn > .slider > .page-btns {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    min-width: 6vw;
    display: flex;
    justify-content: space-between;
    /*    outline: 1px dashed blue;*/
}

.main-bn > .slider > .page-btns > .page-btn > {
    display: inline-block;
    cursor: pointer;
}

.main-bn > .slider > .page-btns > .prev-btn {
    width: 18px;
    height: 32px;
    background: url(../images/lbtn.png)no-repeat;
    background-size: cover;
    background-position: center;
}

.main-bn > .slider > .page-btns > .next-btn {
    width: 18px;
    height: 32px;
    background: url(../images/rbtn.png)no-repeat;
    background-size: cover;
    background-position: center;
}


/* 슬라이더 페이지 번호 */
.main-bn > .slider > .page-btns > .page-no > span {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: 'monr';
    letter-spacing: 5px;
}

/*버튼효과 리셋*/
button {
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    outline: 0;
}




/*지도영역***********************************/

.map_txt {
    width: 100%;
    /*    outline: 1px dashed blue;*/
    margin-bottom: 6vw;
    /*스크롤액션 셋팅*/
    position: relative;
    bottom: -10vw;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.map_txt h4 {
    font-size: 1vw;
    margin-bottom: 1vw;
    letter-spacing: 3px;
}

/*지도박스*/
.map_box {
    /*    outline: 1px dashed red;*/
    display: flex;
    height: 30vw;
    /*스크롤액션 셋팅*/
    position: relative;
    bottom: -10vw;
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: 1s;
}

.map_box > li {
    width: 50%;
}

.map_box > li iframe {
    width: 100%;
    height: 100%;
}

.map_box,
address,
.navi_info {
    font-size: 1vw;
    font-weight: 100;
    letter-spacing: 5px;
    font-family: monr;
}

/*주소박스*/
.map_box address {
    font-style: normal;
    /*    outline: 1px dashed blue;*/
    margin-bottom: 1vw;
}

.map_box address span {
    display: block;
}

.navi_info {
    /*    outline: 1px dashed blue;*/
    line-height: 2;
    margin-bottom: 2vw;
}

/*예약박스*/
.info_box > li {
    border-top: 1px solid #707070;
    margin-right: 5%;
}


/*아이콘 크기*/
.info_box img {
    width: 40px;
    height: 40px;
}

.info_box b {
    display: block;
    color: #A8894C;
    margin-bottom: 10px;
    font-weight: 100;
}

.info_box > li ul {
    display: flex;
    justify-content: space-between;
    /*    outline: 1px dashed blue;*/
}

.info_box > li ul > li {
    min-height: 5vw;
    padding: 1vw;
}

/*예약영역*/
.rsv li {
    /* line-height: 3vw;*/
}

.rsv li:nth-child(1) {
    text-align: center;
    flex: 1;

}

.rsv li:nth-child(2) {
    flex: 5;

}

.rsv li:nth-child(3) {
    flex: 5;

}

/*시간영역*/
.time li {
    /* line-height: 3vw;*/
}

.time li:nth-child(1) {
    text-align: center;
    flex: 1;
}

.time li:nth-child(2) {
    flex: 5;
}

.time li:nth-child(3) {
    flex: 5;
}

/*시간영역2 - 세번째줄*/

.time2 li:nth-child(1) {
    flex: 1;
}

.time2 li:nth-child(2) {
    flex: 10;
}


/*푸터영역*****************************************/

.footer {
    /*    outline: 1px dashed blue;*/
    /*    height: 30vw;*/
    border-top: 1px solid #A8894C;
}

.footer_wrap {
    width: 90%;
    margin: 0 auto;
    /*        outline: 1px dashed blue;*/
    height: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

/*푸터로고*/
.footer_wrap > h5 {
    width: 20%;
}

.footer_wrap > h5 img {
    width: 50%;
}

/*오른쪽 박스*/
.rbx {
    width: 70%;
    height: 100%;
    /*    outline: 1px dashed red;*/
    font-size: .9vw;
    letter-spacing: 5px;
    color: #928E8E;
    padding-right: 6%;
}

.rbx > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;

}

.rbx > ul > li {}

.rbx > ul > li > a {
    color: #928E8E;
    position: relative;
    transition: transform 1.2s cubic-bezier(.4, 0, .2, 1);
}



/*밑줄애니메이션 셋팅*/
.rbx > ul > li > a::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #A8894C;
    transform: scale(0);
    transition: transform 1.2s cubic-bezier(.4, 0, .2, 1);
    transform-origin: right;
}

/*밑줄애니메이션*/
.rbx > ul > li > a:hover::after {
    transform: scale(1);
    transform-origin: left;
}

/*동그라미애니메이션*/
.rbx > ul > li > a:hover::before {
    width: 10px;
    height: 10px;
    transition: all 1.2s;
}

/*아래글*/
.rbx > p:last-child {
    color: #A8894C;
    margin-top: 2vw;
}

.rbx > p span {
    display: block;
    margin-top: 2vw;
}

/*패밀리사이트 박스*/
.family {
    min-width: 14%;
    height: 100%;
    /*    outline: 1px dashed purple;*/

}

/*셀렉트박스*/
.family select {
    border: 0;
    background-color: transparent;
    font-size: .8vw;
    height: 50px;
    color: #928E8E;
    border-bottom: 1px solid #928E8E;
    padding-right: 10%;
    margin-right: 5%;
    cursor: pointer;
}

select:focus {
    outline: none;
}


/*sns*/
.sns {
    /*    outline: 1px dashed red;*/
    vertical-align: middle;
}
